
@{
ViewBag.Title= "Legacy Asp.net 4.7 Layout Page";
Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}
<h1>Asp.net MVC 4.7</h1>
<h2>Legacy Admin Dashboard works!</h2>
<h3>Admin Email: @ViewBag.Email</h3>

