
@{
    ViewBag.Title= "Legacy Asp.net 4.7 Layout Page";
Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<h1>Asp.net MVC 4.7</h1>
<h2>Legacy User Dashboard works!</h2>
<h3>Admin Email: @ViewBag.Email</h3>

